* {
  background-color: rgb(194, 212, 233);
}

header {
  background-color: rgb(252, 197, 197); 
  font-family: Arial, Helvetica, sans-serif; 
  text-align: center;
  background-image: url(../images/Siz@.jpg); 
  background-size: 100%;
  background-size: contain;
  margin: -2%;
  padding: 0;   
  border-color:rgba(136, 7, 7, 0.541);
  width: 100%;
  background-position: center;
}


img {
  width: 200px; 
  height: 200px; 
  border-radius: 100%;
}

nav {
  background-position-x: left;
  font-family: Arial, Helvetica, sans-serif; 
  text-shadow: 1cm;
  background-color: rgba(136, 7, 7, 0.541);
  margin: 0;
  padding: 0;
  width: 150px; 
  font-stretch:expanded;
  color: rgb(25, 69, 107);
  
}

main {
  background-color: rgb(223, 188, 147);
  font-family: sans-serif; 
  margin: 0;
  padding: 0;  
  width: 100%;
}

.footer {
  background-color: rgb(228, 186, 186);
  margin: 0;
  padding: 0;
  width:100%;
  font-family: sans-serif;
}

.facebook {
  width: 50px; 
  height: 50px;
  border-radius: 100%;
} 

@media all and (max-width: 800px) {
  body {
    color: brown;
    background-color: rgb(160, 151, 140);
  }
}

@media screen and (min-width:500px) {
  .text {
    font-size: 15px;
  }  
} 

@media print {
  .sidebar {
    background-color: rgb(230, 127, 1);
    color: aliceblue;
  }

}

.w3-animate-fading {
  width:50px
  height:100vh
}

#page-container {
  position:relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;  /*footer height*/
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;       /* footer height*/
}
